<!DOCTYPE html>

<nav>
	<ul class="nav nav-tabs nav-justified visible-md visible-lg visible-xl">
		<li class="first-nav" role="presentation"><a href="/">Home</a></li>
		<li class="second-nav" role="presentation"><a href="/dj">DJ For Party</a></li>
		<li class="third-nav" role="presentation"><a href="/bartender">Bartender</a></li>
		<li class="fourth-nav" role="presentation"><a href="/bartender/about">About Bartender</a></li>	
		<li class="fifth-nav" role="presentation"><a href="/sweetsixteen">Sweet Sixteen</a></li>
		<li class="sixth-nav" role="presentation"><a href="/contact">Contact</a></li>	
		<li class="seventh-nav" role="presentation"><a href="/blog">Blog</a></li>	
	</ul>
	<ul class="nav nav-tabs visible-xs visible-sm">
		<li role="presentation" class="dropdown  pull-right">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				Menu <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="first-nav" role="presentation"><a href="/">Home</a></li>
				<li class="second-nav" role="presentation"><a href="/dj">DJ For Parties</a></li>
				<li class="third-nav" role="presentation"><a href="/bartender">Bartender</a></li>
				<li class="fourth-nav" role="presentation"><a href="/bartender/about">About Bartender</a></li>		
				<li class="fifth-nav" role="presentation"><a href="/sweetsixteen">Sweet Sixteen</a></li>
				<li class="sixth-nav" role="presentation"><a href="/contact">Contact</a></li>	
				<li class="seventh-nav" role="presentation"><a href="/blog">Blog</a></li>			
			</ul>
		</li>
	</ul>
	<div id="google_translate_element"></div><script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
	}
	</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
</nav>