<!DOCTYPE html>

<div id="slider" class="owl-carousel owl-theme">
	<div class="item">
		<img src="/images/party0.jpeg">
	</div>	
	<div class="item">
		<img src="/images/party1.jpeg">
	</div>	
	<div class="item">
		<img src="/images/party2.jpeg">
	</div>			
</div>