<!DOCTYPE html>
<head>
	<title>Bartender for parties in the bay area, oakland, fremont, san francisco, hayward, san leandro</title>
	<meta name="keywords" content="bartender, conjac, ciroc, wine, don julio, henessy, vodka, catering, mobile, affordable bartender, party bartender, social bartender" />
	<meta name="description" content="Batender in the bay area, affordable, vodka, rum, tequila, ciroc, beer, wine 510-689-7274" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">


	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="/js/jquery.fancybox.pack.js"></script> -->
	<script src="/js/owl.carousel.js"></script>
	<script src="/js/templatemo_custom.js"></script>
</head>
</head>
<body>
	
		<%- include partials/navbar.ejs %>
	<section class="box-yellow">
		<p>We Provide Professional Bartending Service. We work all around the bay area. Also, we can adapt to your budget and needs. Feel free to contact us!</p>
		<a class="btn btn-primary" href="tel:510-689-7274">Call Now <span class="glyphicon glyphicon-phone"></span></a>
	</section>
	<section class="box-purp">
		<%- include partials/carousel.ejs %>
	</section>
	<section class="box-green">
		<p>Our approach towards serving different kinds of drinks is essential for a professional bartender. We serve different drinks including Ciroc, a great choice to start off the night.</p>
		<a class="btn btn-primary" href="tel:510-689-7274">Call Now <span class="glyphicon glyphicon-phone"></span></a>
	</section>
	<section class="box-blue">
		<p>Feeling like a rockstar? Try drinking our specialty drinks featuring Vodka!</p>
		<a class="btn btn-primary" href="tel:510-689-7274">Call Now <span class="glyphicon glyphicon-phone"></span></a>
	</section>

	<%- include partials/footer.ejs %>

</body>
</html>