<!DOCTYPE html>
<head>
	<title>Bartender in the bay area, wine, tequila, vodka, rum, conjac, ciroc for parties</title>
	<meta name="keywords" content="bartender, conjac, ciroc, wine, don julio, henessy, vodka, catering, mobile, affordable bartender, party bartender, social bartender" />
	<meta name="description" content="Need a bartender that is available and in your budget? Call 510-999-9999. We're here to serve you! Click to learn more" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/jquery.fancybox.pack.js"></script>
	<script src="js/templatemo_custom.js"></script>
</head>
<body>
	<nav>
		<ul class="nav nav-tabs nav-justified visible-md visible-lg visible-xl">
			<li role="presentation" class="active"><a href="#">Home</a></li>
			<li role="presentation"><a href="#">Profile</a></li>
			<li role="presentation"><a href="#">Messages</a></li>
		</ul>
		<ul class="nav nav-tabs visible-xs visible-sm">
			<li role="presentation" class="dropdown  pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					Menu <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">Profile</a></li>
					<li role="presentation"><a href="#">Messages</a></li>				
				</ul>
			</li>
		</ul>
	</nav>
	<section class="bartender">
		<div class="overlay0">
			<span class="glyphicon glyphicon-remove"></span> Close
			<div class="col-md-12">
				<center>
					<p>If you can't decide on the drinks for your event; Let us help you!<br>
						We are the professional, reliable, and economic solution to take care of your party's beverages.<br><br>
						We provide bartenders with more than 10 years of experience who have taken care of events with more than 300 guests.<br><br>
						The only thing you have to worry is that YOU enjoy your drink!<br><br>
						Choose a package or customize your own; we will adapt to your needs and budget!</p>
				</center>
			</div>
		</div>
		<div class="overlay1">			
			<span class="glyphicon glyphicon-remove"></span> Close
			<div class="col-md-12">
				<center>
					<p>If you can't decide on the drinks for your event; Let us help you!<br>
						We are the professional, reliable, and economic solution to take care of your party's beverages.<br><br>
						We provide bartenders with more than 10 years of experience who have taken care of events with more than 300 guests.<br><br>
						The only thing you have to worry is that YOU enjoy your drink!<br><br>
						Choose a package or customize your own; we will adapt to your needs and budget!</p>
				</center>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-6 col-md-4">
				<p style="background: lightgreen;" onclick="overlay('over1')">How Much How?</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<p style="background: lightblue;" onclick="overlay('over')">How Many?</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<p style="background: lightyellow;" onclick="overlay('over')">What Else Do I Need?</p>
			</div>
			<div class="col-md-offset-4 col-xs-6 col-md-4">
				<p style="background: lightpink;" onclick="overlay('over')">Wine?</p>
			</div>
			<div class="col-xs-12 col-md-12">
				<center>
					<img class="img-cup" width="100%" src="/images/wine_panic.gif">					
				</center>
			</div>
			<div class="col-xs-6 col-md-4">
				<p style="background: #4444ec;" onclick="overlay('over1')">Beer?</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<p style="background: #e9b556;" onclick="overlay('over')">Tequila?</p>
			</div>
			<div class="col-xs-6 col-md-4">
				<p style="background: purple;" onclick="overlay('over1')">Soda?</p>
			</div>
			<div class="col-md-offset-2 col-xs-12 col-md-4">
				<p style="background: #58e4e4;" onclick="overlay('over')">Who Will Serve and Clean?</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<p style="background: pink;" onclick="overlay('over')">What Else do I Need? Who is Going to Take it There?</p>
			</div>
		</div>
	</section>
	<footer>
    	Copyright © 2084 Company Name<br>
		Photos by <a rel="nofollow" href="http://unsplash.com">Unsplash</a>
    </footer>
</body>
</html>