/*body {
	background-size: cover;
	background-position: 0% 20%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}*/

body::before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: -35%;
	width: 100%;
	height: 135%;
	z-index: -10;
	background: url('../images/wine_pouring.gif') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	margin-top: 1%;
	background: #fff9;
	color: black;
}

a {
	color: #681d1d !important;
	text-decoration: none;
}

.bartender {
	padding: 10% 0;
	color: white;
}

.bartender .container {
	text-align: center;
}

.container p {
	border-radius: 20px;
	color: black;
	opacity: 0.8 !important;
	width: 70%;
	position: absolute;
	top: 65%;
	left: 25%;
	font-size: 100%;
}

.container p {
	cursor: pointer;
	opacity: 1 !important;
}

.overlay0 {
	position: fixed;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 70%;
	display: none;
	background: #576b61;
	z-index: 1;
	padding: 5%;
}

.overlay0 .glyphicon.glyphicon-remove {
	cursor: pointer;
}

.overlay1 {
	position: fixed;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 70%;
	display: none;
	background: #37b98b;
	z-index: 1;
	padding: 5%;	
    z-index: 1001;
    -webkit-transform: translateZ(1001px);
}

.overlay1 .glyphicon.glyphicon-remove {
	cursor: pointer;
}

.overlay1 p {
	margin-top: 5%;
	font-size: 90%;
}

a.btn.btn-primary {
	font-size: 85%;
}

.img-cup {
	width: 30%;
	background: #ffffff4d;
	border-radius: 15%;
	margin: 5%;
}

.soda {
		margin-left: 0px;
}

.btn-martini img {
	padding: ;
	width: 90%;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 41% !important;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background: #5700ff80;
}

section {
	background: #403db1b3;
}

.btn-primary {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #fff !important;
}

.btn-primary:hover {
	color: #000 !important;
	background-color: #FFFFFF80 !important; 
	border-color: #000 !important;
}

.x-intercept {
	background: rebeccapurple;
	padding: 10%;
	color: white;
	border-top: 14px solid #66e966;
}

.panel {
	width: 30%;
	float: left;
	margin-left: 3%;
}

.middle {
	width: 100%;
	padding: 10%;
	display: inline-block;
}

.pictureFrame{
	position: absolute;
    width: 100%;
    height: 30%;
    visibility: visible;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1000;

    -webkit-transform: translateZ(1000px);
}

.btn-martini img:hover {
	display: block;
	background: rgb(206, 36, 90);
	-moz-animation: pop;
	animation-name: pop;
	animation-duration: 0.6s;
	border-radius: 30px;	
    -webkit-animation-name: pop;
}

@keyframes pop {
    0% {
        transform:rotateY(180deg);
    }
    100% {
        transform:rotateY(0deg);
    }
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform:rotateY(180deg);
    }
    100% {
        -webkit-transform:rotateY(0deg);
    }
}

@-moz-keyframes pop {
    0% {
        -moz-transform:rotateY(180deg);
    }
    100% {
        -moz-transform:rotateY(0deg);
    }
}

@media (max-width: 490px) { 
	body {
		background-size: 173%;
		background-position: 60% 0%;
	}
	.img-cup {
		width: 43%;
		background: #ffffff4d;
	}

	/*.container p {
		padding: 3%;
		border-radius: 20px;
		color: black;
		opacity: 0.8 !important;
		width: 100%;
		height: 55px;
	}*/
	.overlay0 {
		position: fixed;
		top: 10%;
		left: 15%;
		width: 70%;
		height: 95%;
		display: none;
		background: #576b61;
		z-index: 1;
		padding: 5%;
		font-size: 12px;
	}
	.soda {
		margin-left: 25%;
	}	

	.container p {
		border-radius: 20px;
		color: black;
		opacity: 0.8 !important;
		width: 70%;
		position: absolute;
		top: 65%;
		left: 25%;
		font-size: 77%;
	}

	.panel {
		width: 100%;
		margin-left: 0;
	}
}
@media (min-width: 670px) { 
	.carousel {
		position: relative;
		width: 50%;
		margin-left: 25%;
	}
}